@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 27, 57, 106;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/*
@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 56, 189, 248;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  font-family: Arial, sans-serif;
  background-color: #c6cbed;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.login-btn {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

.login-btn:hover {
  background-color: #00007a;
  color: white;
}

h2 {
  display: flex;
  align-items: center;
}

label {
  display: flex;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
