@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 27, 57, 106;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/*
@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 56, 189, 248;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

button {
  height: 100%;
  width: 80%;
  background-color: #cdd0ff;
  color: #1b396a;
  border: 3px solid;
  border-radius: 1vw;
  border-color: #1b396a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: text-2xl;
}

#conPrincipal {
  margin-top: 300px;
  width: 80%;
  height: 80%;
  background-color: #a2c5fd;
  border: 3px solid;
  border-radius: 1vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
