@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 27, 57, 106;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/*
@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 56, 189, 248;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/
.container {
  display: flex;
}

.sidebar {
  float: left;
  width: 20%;
  background-color: #00007a;
  color: white;
  padding: 20px 0;
  text-align: center;
  height: 100%; /* Menú abarca hasta abajo */
}

.logo img {
  width: 80%;
  margin-bottom: 20px;
}

.menu-items {
  width: 70%; /* Ancho del menú */
  max-width: 300px; /* Máximo ancho del menú */
  margin: 0 auto; /* Centrar los elementos */
}

.menu-item {
  margin-top: 10px;
  font-size: 28px;
  background-color: #00007a;
  color: white;
  padding: 10px 0;
  text-align: center; /* Centrar texto */
  border: none;
  cursor: pointer;
  width: 100%; /* Ancho al 100% */
  border-radius: 20px;
  text-decoration: none;
}

.menu-item:hover,
.menu-item.active {
  background-color: #fff;
  color: #00007a;
}

.content {
  float: left;
  width: 80%;
  height: 100%; /* Contenido abarca hasta abajo */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
